.txt_bold {  font-weight: bold}
.txt_point {  color: #CC0000}
.line_height {  line-height: 28px}
.txt_p {  color: #9933CC}
.head01 {  font-size: 18px; font-weight: bold}
.head02 {  font-size: 15px; color: #669933; font-weight: bold}
.td_p {  background-color: #ECD9FF}
.txt02{
	font-size: 15px;
	color: #2E7CA7;
	line-height: 21px;
}
.txt03 {
	font-size: 15px;
	color: #A02C98;
	font-weight: normal;
}
.txt04 {

	font-size: 15px;
	color: #CA4700;
}
.txt01 {
	font-size: 15px;
	color: #669900;
	font-weight: bold;
}
.txt05 {
	font-size: 17px;
	color: #996666;
	line-height: 21px;
}
.txt06 {
	font-size: 15px;
	color: #666633;
	line-height: 21px;
}
.alpha-mask {
	font-size: 15px;
	color: #666633;
	filter: Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=100,  FinishX=100, StartY=0, FinishY=100);
}
.alpha-mask_map01 {

	font-size: 15px;
	color: #666633;
	filter: Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=0,  FinishX=100, StartY=100, FinishY=100);
}
.alpha-mask_map02 {


	font-size: 15px;
	color: #666633;
	filter: Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=100,  FinishX=100, StartY=0 FinishY=100);
}
.txt07 {
	font-size: 16px;
	color: #CA4700;
}
.txt08 {
	font-size: 8px;
	color: #CA4700;
}
.name {
	font-size: 15px;
	color: #FFFFFF;
}
